@font-face {
   font-family: '851H-kktt_004';
   font-display: swap;
   src: url('file:///Users/kikuchikenji/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2022-05-22_195652/fonts/851H-kktt_004/font.ttf');
}
